body {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    
}

#{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.imagebox {
    position: absolute;
    right: 0%;
    top: 8%;
    width: 80%;
    height: 80%;
    display: inline-block;
    z-index: -1;
}

.home .imagebox {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 70%;
    height: 100%;
    display: inline-block;
    z-index: -1;
}

.home .content {
    height: 100vh;
    right: 0%;
}
.home .imagesunfading img{
    height: 100vh;
    right: 0%;
}

.content {
    height: 100%;
    width: 80%;
    overflow: hidden;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

#toowide {
    width: 80%;
    height: auto;
    margin-top: 5%;
}

.content .imagesunfading{
    height: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.imagesunfading img{
    height: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.content .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
    width: fit-content;
    cursor: pointer;
}

.content .right{
    right: 0;
}

.arrowleft {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 22%;
    opacity: 0.5;
    padding: 30px 30px;
    z-index: 2;
}

.arrowright {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    opacity: 0.5;
    padding: 30px 30px;
    z-index: 2;
}

.slide img:hover{
    opacity: 1;
}

.gallerycontainer{
    position: absolute;
    right: 0%;
    top: 8%;
    width: 70%;
    height: 80%;
    display: inline-block;
}
.gallery {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    margin: 50px;
    margin-top: 0px;
}
.gallery .rows{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.gallery .rows img{
    width: 100%;
    padding-bottom: 6px;
}

 /* Fixed sidenav, full height */
 .sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 16%;
    left: 5%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 0px 0px 8px 0px;
    text-decoration: none;
    color: black;
font-family: 'roboto thin';
font-size: 11pt;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    font-family: 'roboto' ;
color: rgb(74, 74, 74);
font-style: italic;
font-size: 11pt;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    padding-left: 8px;
  }
  




.divmyname {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
}

.myname {
    color: rgb(70, 152, 163);
    font-family: roboto;
    font-size: 50pt;
    outline: 20pt;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}




.heading {
color: rgb(87, 87, 87);
position:fixed;
top:5%;
left: 5%;
font-family: 'roboto' ;
text-decoration: none;
}
.divheading {
    width: fit-content;
}



.copyright {
    font-family: roboto;
    font-size: small;
    position: fixed;
    right: 3%;
    bottom: 2%;
    color: rgb(87, 87, 87);
    background-color: white;
    z-index: 100;
    padding: 3px 3px;
    display: none;
}

.instagramdiv {
    position: fixed;
    left: 5%;
    bottom: 5%;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 0.7;
    display: none;
}

.pages {
    color: black;
    font-family: 'roboto thin';
    font-size: 11pt;
}

.whatleavesamarkonconcrete {
    font-family: 'roboto' ;
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 11pt;

}

.werdenwirfliegenwieeinphoenix {
    font-family: 'roboto' ;
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 11pt;

}

.unfading {
    font-family: 'roboto' ;
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 11pt;

}

.walkingincolour {
    font-family: 'roboto' ;
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 11pt;

}

.currentexplorations {
    font-family: 'roboto' ;
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 11pt;

}

.textbox {
    position: absolute;
    right: 0%;
    top: 10%;
    width: 75%;
    height: 80%;
    display: inline-block;
    z-index: -1;
}

.textcontent {
    height: 100%;
    width: 80%;
    overflow: auto;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.bio {
    font-family: 'roboto' ;
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 11pt;

}

.contact {
    font-family: 'roboto' ;
    color: rgb(74, 74, 74);
    font-style: italic;
    font-size: 11pt;

}

.page5 {
    position: fixed;
    top: 20%;
    left: 5%;
}

.page4 {
    position: fixed;
    top: 24%;
    left: 5%;
}

.page1 {
    position: fixed;
    top: 28%;
    left: 5%;
}


.page3 {
    position: fixed;
    top: 32%;
    left: 5%;
}

.page2 {
    position: fixed;
    top: 36%;
    left: 5%;
}

.pagebio {
    position: fixed;
    top: 40%;
    left: 5%;
}

.pagecontact {
    position: fixed;
    top: 44%;
    left: 5%;
}

.mypicture {
    position: absolute;
    top: 20%;
    left: 30%;
    display: inline-block;
    z-index: -1;
}

.mypicture img{
    height: 50vh;
}

.aboutbox {
    position: absolute;
    left: 35%;
    width: 55%;
    top: 8.2%;
    font-family: 'roboto';
    color: rgb(50, 50, 50);
    line-height: 17pt;
    display: inline-block;
    overflow-y: auto;

}

.artiststatement {
    color: rgb(87, 87, 87);
    font-size: 11pt;
    overflow-y: auto;

}

.contactbox {
    position: absolute;
    top: 9.2%;
    left: 10%;
    font-family: 'roboto';
    color: rgb(87, 87, 87);
    line-height: 17pt;
    font-size: 11pt;
}

.contactme {
    color: rgb(87, 87, 87);
    font-size: 11pt;
}

.instagramlink {
    color: rgb(50, 50, 50);
}

.emaillink {
    color: rgb(50, 50, 50);
}


@media only screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    .imagebox {
        position: absolute;
        top: 10%;
        width: 100%;
        max-height: 57vh;
        display: inline-block;
    }
    
    .content {
        width: screen;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px;
    }
    
    .content .imagesunfading{
        display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }

    #toowide {
        width: 100%;
        margin-top: 0%;
    }
    
    .imagesunfading img{
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 90%;
      object-fit: contain;
      padding-top: 5%;
    }

    .arrowleft {
        width: 30px;
        height: 30px;
        position: absolute;
        display: block;
        top: 65vh;
        left: 70%;
        opacity: 0.5;
        padding: 10px 10px;
        padding-top: 10px;
        z-index: 2;
    }
    .arrowright {
        width: 30px;
        height: 30px;
        position: absolute;
        display: block;
        top: 65vh;
        right: 3%;
        opacity: 0.5;
        padding: 10px 10px;
        padding-top: 10px;
        z-index: 2;
    }
    
    .gallerycontainer{
        position: absolute;
        top: 13%;
        width: 100%;
        height: 55vh;
        display: inline-block;
        overflow-y: auto;
    }
    .gallery {
        position: relative;
        display: block;
        justify-content: space-between;
        margin: 50px;
        margin-top: 0px;
        height: 100%;
        object-fit: contain;
    }
    .gallery .rows{
        display: flex;
        width: 100%;
    }
    .gallery .rows img{
        width: 100%;
        padding-bottom: 6px;
    }
    
    .sidenav {
        width: 100%;
        position: fixed;
        top: 64% ;
    }

    .active {
        font-family: 'roboto' ;
        color: rgb(74, 74, 74);
        font-style: italic;
        font-size: 11pt;
    }

    .page5 {
        position: fixed;
        top: 70%;
        left: 5%;
    }

    .page4 {
        position: fixed;
        top: 74%;
        left: 5%;
    }
    
    .page1 {
        position: fixed;
        top: 78%;
        left: 5%;
    }
    
    
    .page3 {
        position: fixed;
        top: 82%;
        left: 5%;
    }
    
    .page2 {
        position: fixed;
        top: 86%;
        left: 5%;
    }
    
    .pagebio {
        position: fixed;
        top: 90%;
        left: 5%;
    }

    .pagecontact {
        position: fixed;
        top: 94%;
        left: 5%;
    }

    .textbox{
        position: absolute;
        right: 0%;
        width: 100%;
        height: 30%;
        display: inline-block;
    }

    .textcontent{
        height: 55vh;
        width: screen;
        overflow: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px;

    }

    .mypicture {
        left: 0%;
        top: 15%;
        display: none;
    }

    .aboutbox {
        position: absolute;
        overflow: auto;
        left: 5%;
        width: 80%;
        font-family: 'roboto';
        font-size: 15px;
        line-height: 1.35;
        color: rgb(50, 50, 50);

    }

    

    .contactbox {
        position: absolute;
        top: 9.2%;
        left: 5%;
        font-family: 'roboto';
        font-size: 15px;
        line-height: 1.35;
        color: rgb(50, 50, 50);
    }

    .instagramdiv {
        position: fixed;
        right: 5%;
        top: 5%;
        left: auto;
        bottom: auto;
        width: 40px;
        height: 40px;
        display: none;

    }
}